<div id="m_ver_menu"
	 class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
	 data-menu-vertical="true"
	 data-menu-scrollable="false" data-menu-dropdown-timeout="500">
	<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
		<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover">
			<a  href="#" class="m-menu__link m-menu__toggle">
				<i class="m-menu__link-icon flaticon-layers"></i>
				<span class="m-menu__link-text">
					文章管理
				</span>
				<i class="m-menu__ver-arrow la la-angle-right"></i>
			</a>
			<div class="m-menu__submenu">
				<span class="m-menu__arrow"></span>
				<ul class="m-menu__subnav">
					<li class="m-menu__item " aria-haspopup="true" >
						<a  href="{% url 'new_article' %}" class="m-menu__link ">
							<i class="m-menu__link-bullet m-menu__link-bullet--dot">
								<span></span>
							</i>
							<span class="m-menu__link-text">
								新增文章
							</span>
						</a>
					</li>
					<li class="m-menu__item " aria-haspopup="true" >
						<a  href="components/base/state.html" class="m-menu__link ">
							<i class="m-menu__link-bullet m-menu__link-bullet--dot">
								<span></span>
							</i>
							<span class="m-menu__link-text">
								文章列表
							</span>
						</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>