{% extends "../layouts/master.html" %}

{% block content %}
<div id="app">
  <el-table
    :data="tableData"
    border
    style="width: 100%">
    <el-table-column
      fixed
      prop="pk"
      label="#"
      width="80">
    </el-table-column>
    <el-table-column
      fixed
      prop="fields.title"
      label="标题"
      width="200">
    </el-table-column>
    <el-table-column
      prop="fields.pub_date"
      label="时间"
      width="200">
    </el-table-column>
    <el-table-column
      prop="fields.content"
      label="内容"
      width="auto">
    </el-table-column>
    <el-table-column
      label="操作"
      width="150">
      <template slot-scope="scope">
        <el-button
          size="mini"
          @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
        <el-button
          size="mini"
          type="danger"
          @click="handleDelete(scope.$index, scope.row)">删除</el-button>
      </template>
    </el-table-column>
  </el-table>
</div>
{% endblock %}

{% block js %}
<script>
    var vm = new Vue({
        el: '#app',
        beforeCreate: function () {
            axios.get("{% url 'article_list_data' %}")
                .then(function (resp) {
                    console.log(resp);
                    vm.tableData = resp['data']['response'];;
                    })
                .catch(function (error) {
                    console.log(error);
                    vm.errorMsg('数据加载失败');
                });
        },
        data() {
            return {
                tableData: []
            }
        },
        methods: {
            successMsg(msg) {
                this.$message(
                    {
                        showClose: true,
                        message: msg,
                        type: 'success'
                    });
            },
            errorMsg(msg) {
                this.$message(
                    {
                        showClose: true,
                        message: msg,
                        type: 'error'
                    });
            },
            handleEdit(index, row) {
                axios.post("/blog/article/del/" + row.pk)
                    .then(function (resp) {
                        console.log(resp);
                        if (resp['data']['code'] === 1000) {
                            vm.successMsg('删除文章成功');
                            vm.tableData.splice(index, 1);
                        }
                        else {
                            vm.errorMsg('删除文章失败');
                        }
                    })
                    .catch(function (error) {
                        vm.errorMsg('删除文章失败' + error);
                    });
            },
            handleDelete(index, row) {
                axios.post("/blog/article/del/" + row.pk)
                    .then(function (resp) {
                        console.log(resp);
                        if (resp['data']['code'] === 1000) {
                            vm.successMsg('删除文章成功');
                            vm.tableData.splice(index, 1);
                        }
                        else {
                            vm.errorMsg('删除文章失败');
                        }
                    })
                    .catch(function (error) {
                        vm.errorMsg('删除文章失败' + error);
                    });
            }
        }
    })
</script>
{% endblock %}