{% extends "../layouts/master.html" %}

{% block content %}
<div id="app">
    <el-form ref="form" :model="form" label-width="80px">
        <el-form-item label="文章标题">
            <el-input v-model="form.title"></el-input>
        </el-form-item>
        <el-form-item label="发布时间">
            <el-date-picker
                v-model="form.pub_date"
                type="datetime"
                placeholder="选择日期时间"
                align="right"
                :picker-options="pickerOptions">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="置顶">
            <el-switch on-text="" off-text="" v-model="form.set_top"></el-switch>
        </el-form-item>
        <el-form-item label="文章内容">
            <el-input
                type="textarea"
                :rows="20"
                placeholder="请输入内容"
                v-model="form.content">
            </el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">立即创建</el-button>
            <el-button>取消</el-button>
        </el-form-item>
    </el-form>
</div>
{% endblock %}

{% block js %}
<script>
    var vm = new Vue({
        el: '#app',
        beforeCreate: function () {
            axios.get("{% url 'article_data' %}")
                .then(function (resp) {
                    console.log(resp);
                    vm.tableData = resp['data']['response'];;
                    })
                .catch(function (error) {
                    console.log(error);
                    vm.errorMsg('数据加载失败');
                });
        },
        data() {
            return {
                pickerOptions: {
                shortcuts: [
                    {
                        text: '今天',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    },
                    {
                        text: '昨天',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    },
                    {
                        text: '一周前',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }
                ]
            },
                form: {
                    title: '',
                    pub_date: '',
                    set_top: false,
                    content: ''
                }
            }
        },
        methods: {
            successMsg(msg) {
                this.$message(
                    {
                        showClose: true,
                        message: msg,
                        type: 'success'
                    });
            },
            errorMsg(msg) {
                this.$message(
                    {
                        showClose: true,
                        message: msg,
                        type: 'success'
                    });
            },
            onSubmit() {
                axios.post("{% url 'new_article' %}", vm.form)
                    .then(function (resp) {
                        console.log(resp);
                        if (resp['data']['code'] === 1000) {
                            vm.successMsg('文章保存成功');}
                        else {
                            vm.errorMsg('文章保存失败');
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.successMsg('文章保存失败');
                    });
            }
        }
    })
//  var Ctor = Vue.extend(Main)
//  new Ctor().$mount('#app')
</script>
{% endblock %}